@page
@model TorneoFutbolDepartamental.App.Frontend.pages.Estadios.DetailsModel
@{
}
<h1>Detalles Del Estadio</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.estadio.Nombre</td
    </tr>
    <tr>
        <th scope="col">Direccion</th>
        <td>@Model.estadio.Direccion</td>
    </tr>
    <tr>
        <th scope="col">Ciudad</th>
        <td>@Model.estadio.Ciudad</td>
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        @if (Model.estadio.Municipio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-Estadioid="@Model.estadio.EstadioId">Asignar Municipio</a>
            </td>
        }
        else
        {
            <td>@Model.estadio.Municipio.Nombre</td>
        }
    </tr>            
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>