@page
@using TorneoFutbolDepartamental.App.Dominio;
@model TorneoFutbolDepartamental.App.Frontend.pages.Equipos.DetailsModel
@{
}
<h1>Detalles Del Equipo</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Cnt_PartidosEmpatados</th>
        <td>@Model.equipo.Cnt_PartidosEmpatados</td>
    </tr>
    <tr>
        <th scope="col">Cnt_PartidosGanados</th>
        <td>@Model.equipo.Cnt_PartidosGanados</td>
    </tr>
    <tr>
        <th scope="col">Cnt_PartidosJugados</th>
        <td>@Model.equipo.Cnt_PartidosJugados</td>
    </tr>
    <tr>
        <th scope="col">GolesContra</th>
        <td>@Model.equipo.GolesContra</td>
    </tr>
    <tr>
        <th scope="col">GolesFavor</th>
        <td>@Model.equipo.GolesFavor</td>
    </tr>
    <tr>
        <th scope="col">Puntos</th>
        <td>@Model.equipo.Puntos</td>
    </tr>
    <tr>
        <th scope="col">Jugadores</th>
    </tr>
    <tr>
        <th scope="col">DirectorTecnico</th>
        @if (Model.equipo.DirectorTecnico == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddDirectorTecnico" asp-route-Equipoid="@Model.equipo.EquipoId">Asignar DirectorTecnico</a>
            </td>
        }
        else
        {
            <td>@Model.equipo.DirectorTecnico.Nombre</td>
        }
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        @if (Model.equipo.Municipio == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddMunicipio" asp-route-Equipoid="@Model.equipo.EquipoId">Asignar Municipio</a>
            </td>
        }
        else
        {
            <td>@Model.equipo.Municipio.Nombre</td>
        }
    </tr>           
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>