@page
@model TorneoFutbolDepartamental.App.Frontend.pages.Equipos.IndexModel
@{
}
<h1>Listado de Equipos</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cnt_PartidosEmpatados</th>
            <th scope="col">Cnt_PartidosGanados</th>
            <th scope="col">Cnt_PartidosJugados</th>
            <th scope="col">GolesContra</th>
            <th scope="col">GolesFavor</th>
            <th scope="col">Puntos</th>
            <th scope="col">Acciones</th>
        </tr>   
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr>
                <td>@equipo.Nombre</td>
                <td>@equipo.Cnt_PartidosEmpatados</td>
                <td>@equipo.Cnt_PartidosGanados</td>
                <td>@equipo.Cnt_PartidosJugados</td>
                <td>@equipo.GolesContra</td>
                <td>@equipo.GolesFavor</td>
                <td>@equipo.Puntos</td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-Equipoid="@equipo.EquipoId">Detalles</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-Equipoid="@equipo.EquipoId">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-page="./Create">Nuevo Equipo</a>